# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=registro-docker

# Versiones de los contenedores
HTTPS_PORTAL_VERSION=1

# URL de acceso para Traefik
FQDN_REGISTRO=registro-docker.test

# Mostrar el icono de borrado
DELETE_IMAGES=false
